.bg-light-1
{
    height: 100vh;
    background-color: #F0EDE8;
    position: relative;
}

.bg-menu-color
{
    height: 100vh;
    background-color: #DFDCCF;
    position: relative;
}

.bg-light-2
{
    height: 100vh;
    background-color: #E5DFDB;
    position: relative;
}

.text-logo-first{
    color: #76A34F;
}

.text-logo-second{
    color: #939598;
}

.text-logo-third{
    color: #8F7962;
}

.button-login
{
    position: absolute;
    top: 40px;
    right: 40px;
}

.text-login
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #787774;
    position: absolute;
    right: 60px;
}

.img-login
{
    height: 40px;
}

.img-logo
{
    height: 350px;
    position: absolute;
    top: 50px;
    left: 120px;
}

.text-logo
{
    font-family: 'Amatic SC', cursive;
    font-size: 200px;
    position: absolute;
    top: 180px;
    right: 200px;
}

.img-giving-hand
{
    height: 120px;
    position: absolute;
    top: 350px;
    left: 25px;
}

.img-green-tea
{
    transform: rotate(35deg);
    height: 80px;
    position: absolute;
    top: 150px;
    right: 230px;
}

.img-transfer-money
{
    height: 50px;
}

.img-tips-service
{
    height: 120px;
    position: absolute;
    bottom: 140px;
    right: 300px;
}

.text-tips-service
{
    font-family: 'Marmelad', sans-serif;
    font-size: 30px;
    color: #8F7962;
    position: absolute;
    bottom: 220px;
    right: 460px;
}

.button-transfer-money
{
    background-color: #C1D1AA;
    border: none;
    border-radius: 20px;
    height: 100px;
    width: 280px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.text-transfer-money, .text-registration
{
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
    color: #625C60;
    position: relative;
    top: 10px;
    left: -20px;
}

.img-transfer-money
{
    height: 50px;
    position: relative;
    left: 210px;
    bottom: 45px;
}

h1.second
{
    font-family: 'Marmelad', sans-serif;
    font-size: 40px;
    color: #625C60;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 33%;
    text-align: center;
    margin-bottom: 130px;
}

.line
{
    width: 3px;
    height: 40vh;
    background-color: #625C60;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.img-registration
{
    height: 50px;
    position: relative;
    left: 230px;
    bottom: 45px;
}

.button-registration
{
    background-color: #C1D1AA;
    border: none;
    border-radius: 20px;
    height: 100px;
    width: 300px;
    position: absolute;
    bottom: 60px;
    left: 60px;
}

.parent
{
    display: flex;
}

.column
{
    width: 33%;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
}

.img-column
{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.text-column
{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #625C60;
}

.img-qr
{
    height: 150px;
    margin-left: auto;
    margin-right: auto;
}

h1
{
    font-family: 'Marmelad', sans-serif;
    font-size: 40px;
    color: #625C60;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    width: 33%;
    text-align: center;
    margin-bottom: 30px;
}

input
{
    background-color: #C1D1AA;
    border: none;
    border-radius: 20px;
    height: 50px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
}

label
{
    margin-left: auto;
    margin-right: auto;
}

.last
{
    align-items: center;
}