{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
</head>

<body class="relative">
    <header>
        <nav class="flex items-center justify-between p-3 h-20">
            <img class="mx-auto h-16 mr-2 ml-1" src="../media/logo_nav.png" alt="Workflow">
            <div class="text-sm lg:flex-grow">
                <a href="#responsive-header" class="logo_text block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4">
                <span class="logo_text_first">Дай</span>
                <span class="logo_text_second">на</span>
                <span class="logo_text_third">Чай</span>
                </a>
            </div>
            <div class="in">
                <a href="{% url 'logout' %}" class="text-sm px-4 py-2 leading-none lg:mt-0">Личный кабинет</a>
            </div>
            <div class="mr-5">
                <img class="mx-auto h-5 w-auto" src="../media/logout.png" alt="Workflow">
            </div>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>