{% extends 'base.html' %}

{% block title %}
    Редактирование сотрудника
{% endblock %}
{% block content %}
<div class="w-full grid grid-rows-2 grid-flow-col lg:items-center lg:w-auto mt-10">
    <div class="w-full grid grid-rows-2 grid-flow-col lg:items-center lg:w-auto mt-10">
        <div>
            <button type="submit" class="group relative flex justify-center py-2 px-4 ml-3 border border-transparent text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2">
                <a href="{% url 'leader' %}">Назад</a>
            </button>
            <div class='w-full grid grid-cols-1 md:grid-cols-12 items-center h-20'>
                <div class="data col-start-3 col-span-2 md:grid-cols-1 ml-1">
                    <span class="data">Ваши данные</span>
                </div>
                <div class="col-start-5 col-span-5 md:grid-cols-1">
                    <div class='flex-grow line h-0.5 ml-4 mr-4'></div>
                </div>
            </div>
            {{error}}
            <div class='w-full grid grid-cols-1 md:grid-cols-12 items-center'>
                    <div class="w-full grid grid-cols-1 col-start-4 col-span-6">
                        <div class="card_staff p-6">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table class="table-auto">
                                        <tbody>
                                            <tr>
                                              <td><label for="first_name" class="form-label pr-2">Имя, отчество</label></td>
                                              <td><input type="text" name="first_name" id="first_name" class="mb-3 form-control p-2 rounded" value="{{ staff.first_name }}"></td>
                                            </tr>
                                            <tr>
                                                <td><label for="last_name" class="form-label">Фамилия</label></td>
                                                <td><input type="text" name="last_name" id="last_name" class="mb-3 form-control p-2 rounded" value="{{ staff.last_name }}"></td>
                                            </tr>
                                            <tr>
                                                <td><label for="card" class="form-label">Номер карты</label></td>
                                                <td><input type="text" name="card_number" id="card" class="mb-3 form-control p-2 rounded" value="{{ staff.card_number }}"></td>
                                            </tr>
                                            <tr>
                                                <td><label for="photo" class="form-label">Фотография</label></td>
                                                <td>
                                                    {% if staff.avatar %}
                                                    <img src="{{ staff.avatar.url }}" alt="фотография сотрудника" style="max-width: 200px;"><br>
                                                    <a href="{{ staff.avatar.url }}" download="сотрудник" class="btn btn-secondary btn-sm mt-2">Скачать фотографию</a>
                                                    <a class="btn btn-primary" href="{% url 'delete_image' staff.id %}" role="button">Удалить</a>
                                                    {% endif %}
                                                    {% if staff.avatar == NULL or staff.avatar == '' %}
                                                    <p>У сотрудника нет фотографии</p>
                                                        <div class="input-group mb-3">
                                                            <input type="file" class="form-control" placeholder="Фотография сотрудника" name="avatar" aria-describedby="button-addon1">
                                                        </div>
                                                    {% endif %}
                                                    <div class="mb-3">{{ f.errors }}</div>
                                                </td>
                                            </tr>
                                            </tbody>
                                    </table>
                    
                                    <button type="submit" class="mt-2 mx-2 py-2 px-4 rounded">Изменить</button>
                                </form>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}