{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <title>
            {% block title %}
                Главная
            {% endblock %}
        </title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Marmelad&family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
        </header>
        <main>

            <div class="bg-light-1">
                <button class="button-login">
                    <a href="{% url 'login' %}" class="text-login">Войти</a>
                    <img src="../media/login.png" class="img-login">
                </button>

                <img src="../media/logo-main.png" class="img-logo">
                <img src="../media/giving_hand.png" class="img-giving-hand">
                <img src="../media/green-tea.png" class="img-green-tea">
                <div class="text-logo">
                    <span class="text-logo-first">Дай</span>
                    <span class="text-logo-second">на</span>
                    <span class="text-logo-third">Чай</span>
                </div>

                <span class="text-tips-service">Сервис перевода чаевых</span>
                <img src="../media/tips-service.png" class="img-tips-service">

                <button class="button-transfer-money">
                    <a href="#transfer-money" class="text-transfer-money">Перевести</a>
                    <img src="../media/coins.png" class="img-transfer-money">
                </button>

            </div>

            <div class="bg-menu-color">
                <h1 class="second">Наши преимущества:</h1>

                <div class="parent">
                    <div class="column">
                        <img src="../media/cool.png" class="img-column">
                        <span class="text-column">Мы классные</span>
                    </div>

                    <div class="column">
                        <img src="../media/open-source.png" class="img-column">
                        <span class="text-column">Мы open-source проект, а значит другие разработчики могут помогать проекту развиваться</span>
                    </div>

                    <div class="column">
                        <img src="../media/shield.png" class="img-column">
                        <span class="text-column">У нас безопасные переводы без комиссии (деньги нигде не хранятся, а переходят сразу от вас к сотруднику)</span>
                    </div>
                </div>

            </div>

            <div class="bg-light-2">
                <h1>Подключить сотрудников вашего заведения можно всего в пару кликов</h1>
                <div class="line"></div>
                <button class="button-registration">
                    <a href="{% url 'registration' %}" class="text-registration">Подключить</a>
                    <img src="../media/people.png" class="img-registration">
                </button>
            </div>

            <div class="bg-light-1-last" id="transfer-money">
                <h1 class="last">Перевод чаевых сотруднику</h1>
                <img src="../media/qr-code.png" class="img-qr">
                <form method="POST" action="index.html">
                    <label for="staff">Введите id сотрудника, указанный на чеке рядом с QR-кодом:</label>
                    <input id="staff" placeholder="id сотрудника..." required>
                    <label for="sum_tea">Введите сумму чаевых:</label>
                    <input id="sum_tea" placeholder="cумма..." required>
                    <label for="review">Отзыв на сотрудника:</label>
                    <input id="review" placeholder="комментарий...">
                    <label for="rating">Оценка:</label>
                    <input id="rating" placeholder="оценка от 1 до 5...">
                    <button type="submit" class="button-form">
                        <span class="text-logo-first">Дать</span>
                        <span class="text-logo-second">на</span>
                        <span class="text-logo-third">Чай</span>
                    </button>
                </form>
            </div>

        </main>
        </body>
</html>