{% load static %}
<!doctype html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width initial-scale=1.0">
        <title>
            {% block title %}
                Главная
            {% endblock %}
        </title>
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Marmelad&family=Montserrat:wght@400;500;600;800&display=swap" rel="stylesheet">
    </head>

    <body>
        <header>
        </header>
        <main>

            <div class="bg-light-1">
                <button class="button-login">
                    <a href="{% url 'login' %}" class="text-login">Войти</a>
                    <img src="../media/login.png" class="img-login">
                </button>

                <img src="../media/logo-main.png" class="img-logo">
                <img src="../media/giving_hand.png" class="img-giving-hand">
                <img src="../media/green-tea.png" class="img-green-tea">
                <div class="text-logo">
                    <span class="text-logo-first">Дай</span>
                    <span class="text-logo-second">на</span>
                    <span class="text-logo-third">Чай</span>
                </div>

                <span class="text-tips-service">Сервис перевода чаевых</span>
                <img src="../media/tips-service.png" class="img-tips-service">

                <button class="button-transfer-money">
                    <span class="text-transfer-money">Перевести</span>
                    <img src="../media/coins.png" class="img-transfer-money">
                </button>

            </div>

            <div class="bg-menu-color">
            </div>

            <div class="bg-light-2">
                <a class="btn btn-outline-primary" href="{% url 'registration' %}">Подключить</a>
            </div>

            <div class="bg-light-1">
            </div>

        </main>
        </body>
</html>