{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>
        {% block title %}
            Главная
        {% endblock %}
    </title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Marmelad&family=Montserrat:wght@400;500;600;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/fullpage.css' %}">
    <script type="text/javascript" src="{% static 'css/fullpage.js' %}"></script>
</head>

<body>

<div id="fullpage">

    <div class="section">
        <button class="button-login">
            <a href="{% url 'login' %}" class="text-login">Войти</a>
            <img src="../media/login.png" class="img-login">
        </button>

        <div class="logo-and-hand">
            <img src="../media/logo-main.png" class="img-logo">
            <img src="../media/giving_hand.png" class="img-giving-hand">
        </div>

        <div class="name-and-leaf">
            <img src="../media/green-tea.png" class="img-green-tea">
            <div class="text-logo">
                <span class="text-logo-el">Дай</span>
                <span class="text-logo-el">на</span>
                <span class="text-logo-el">Чай</span>
            </div>
        </div>

        <div class="tips-service-group">
            <span class="text-tips-service">Сервис перевода чаевых</span>
            <img src="../media/tips-service.png" class="img-tips-service">
        </div>

        <button class="button-transfer-money">
            <a href="#block4" class="text-transfer-money">Перевести</a>
            <img src="../media/coins.png" class="img-transfer-money">
        </button>

    </div>

    <div class="section">
        <h1 class="second">Наши преимущества:</h1>

        <div class="parent">
            <div class="column">
                <figure>
                    <img src="../media/cool.png" class="img-column">
                    <figcaption><p class="text-column">Мы классные</p></figcaption>
                </figure>
            </div>

            <div class="column">
                <figure>
                    <img src="../media/open-source.png" class="img-column">
                    <figcaption><p class="text-column">Мы <b><a href="https://github.com/zakhep66/tip_service" class="git-link">open-source</a></b> проект, а значит другие разработчики могут
                        помогать проекту развиваться</p></figcaption>
                </figure>
            </div>

            <div class="column">
                <figure>
                    <img src="../media/shield.png" class="img-column">
                    <figcaption><p class="text-column">У нас безопасные переводы без комиссии (деньги нигде не хранятся,
                        а переходят сразу от вас к сотруднику)</p></figcaption>
                </figure>
            </div>
        </div>

    </div>

    <div class="section">
        <h1>Подключить сотрудников вашего заведения можно всего в пару кликов</h1>
        <div class="line"></div>
        <button class="button-registration">
            <a href="{% url 'registration' %}" class="text-registration">Подключить</a>
            <img src="../media/people.png" class="img-registration">
        </button>
        <div class="reg-steps-num">
            <p class="step-num">1.</p>
            <p class="step-num">2.</p>
            <p class="step-num">3.</p>
        </div>
        <div class="reg-steps">
            <p class="step">Заполните форму регистрации руководителя</p>
            <p class="step">Зарегистрируйте вашу организацию и добавьте филиал</p>
            <p class="step">Добавьте и зарегистрируйте сотрудников</p>
        </div>
        <p class="done">Готово!</p>
        <div class="done-block">
            <p class="done-details">На чеках в вашем заведении будет печататься QR-код и id сотрудника</p>
            <p class="done-details">Посетители смогут перейти на наш сайт и через простую форму перевести сотруднику чаевые</p>
        </div>
        <img src="../media/tips-hand.png" class="tips-hand-img">
        <img src="../media/tips-jar.png" class="tips-jar-img">
    </div>

    <div class="section">
        <h1 class="last">Перевод чаевых сотруднику</h1>
        <img src="../media/qr-code.png" class="img-qr">
        {% if error != null %}
                <div class=" error-block bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
                    <strong class="font-bold">Внимание!</strong><br>
                    <span class="block sm:inline">Сотрудник с таким ID не был найден</span>
                    <span class="absolute top-0 bottom-0 right-0 px-4 py-3">
                          <svg class="fill-current h-6 w-6 text-red-500" type="button"
                               xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><title>Close</title><path
                                  d="M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z"/></svg>
                        </span>
                </div>
            {% endif %}
        <form method="POST" action="">
            {% csrf_token %}

            <div class="form-col">
                <label for="review">Отзыв на сотрудника:</label>
                <input id="review" name="review" placeholder="комментарий..." required>
                <label for="rating">Оценка:</label>
                <input id="rating" name="rating" type="number" min="1" max="5" step="1" placeholder="оценка от 1 до 5..." required>
            </div>
            <div class="form-col">
                <label for="staff">Введите ID сотрудника, указанный на чеке рядом с QR-кодом:</label>
                <input id="staff" name="staff" type="number" placeholder="ID сотрудника..." min="1" required>
                <label for="sum_tea">Введите сумму чаевых:</label>
                <input id="sum_tea" name="sum_tea" type="number" placeholder="cумма..." required min="1">
            </div>

            <button type="submit" class="button-form">
                <span class="text-logo-el">Дать</span>
                <span class="text-logo-el">на</span>
                <span class="text-logo-el">Чай</span>
            </button>
        </form>
    </div>

</div>

<script>
    // toTopButton
    var mybutton = document.getElementById("button-up");

    window.onscroll = function () {
        scrollFunction()
    };

    function scrollFunction() {
        if (document.body.scrollTop > 500 || document.documentElement.scrollTop > 500) {
            mybutton.style.display = "block";
        } else {
            mybutton.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    // fullpage scroll
    new fullpage('#fullpage', {
        autoScrolling: true,
        loopBottom: true,
        loopTop: false,
        lockAnchors: false,
        animateAnchor: true,
        anchors: ['block1', 'block2', 'block3', 'block4']
    });

    fullpage_api.setAllowScrolling(true);

    function jump() {
        let top = document.getElementById('transfer-money').offsetTop; //Getting Y of target element
        window.scrollTo(0, top);                        //Go there directly or some transition
        // window.scrollTo(0,document.body.scrollHeight);
    }
</script>

</body>
</html>