{% extends 'base.html' %}

{% block title %}
    Личный кабинет руководителя
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div>
            {{ leader.first_name }}
            {{ leader.last_name }}
            {{ leader.phone }}
            {{ request.user.username }}

            <h3>Филиалы</h3>
    {#        <a href="{% url 'add_branch' %}">Добавить филиал</a>#}
            {% for branch in branches %}
                <h5>{{ branch.branch_name }}</h5>
                <p>{{ branch.address }}</p>
                <p>Руководитель: {{ branch.leader }}</p>
                <h5>Сотрудники</h5>
                <a href="{% url 'add_staff' branch.id %}">Добавить сотрудника</a>
                {% for staff in branch_staff %}
                        {% if staff.id_branch.id == branch.id %}
                            {{ staff.last_name }}
                            Номер карты: {{ staff.card_number }}
                            Логин: {{ staff.user }}
                        {% endif %}
                {% endfor %}
            {% endfor %}
            <br>
            <a  href="/editLeader/{{ leader.id }}" class="text-transfer-money">РЕДАКТИРОВАТЬ</a>
        </div>
    {% endif %}
{% endblock %}