{% extends 'base.html' %}

{% block title %}
    Личный кабинет руководителя
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}
        <div class="w-full grid grid-rows-1 lg:items-center lg:w-auto mt-10">
            <div>

                <div class='w-full grid md:grid-cols-12 items-center'>
                    <div class="w-full grid grid-cols-1 col-start-4 col-span-6">
                        <div class='flex items-center h-20'>
                            <div class="ml-4 section">
                                Ваши данные
                            </div>
                            <div class='flex-grow line h-0.5 ml-4'></div>
                            <div class="round mr-4">
                                <a href="/editLeader/{{ leader.id }}">
                                    <img src="../media/edit.png" class="img-edit" alt="редактировать данные руководителя">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='w-full grid grid-cols-1 md:grid-cols-12 items-center'>
                    <div class="w-full grid grid-cols-1 col-start-4 col-span-6">
                        <div class="card_staff p-6 grid grid-cols-1 md:grid-cols-12">
                            <div class="col-start-1 col-span-9 items-center md:grid-cols-1 pl-7">
                                <h2 class="staff_name mb-1">{{ leader.first_name }} {{ leader.last_name }}</h2>
                                <p class="mb-1">Телефон: {{ leader.phone }}</p>
                                <p class="mb-1">Логин: {{ request.user.username }}</p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class='w-full grid md:grid-cols-12 items-center'>
            <div class="w-full grid grid-cols-1 col-start-4 col-span-6">
                <div class='flex items-center h-20'>
                    <div class="ml-4 section">
                        Филиалы
                    </div>
                    <div class='flex-grow line h-0.5 ml-4 mr-4'></div>
                </div>
            </div>
        </div>

        <div class='w-full grid md:grid-cols-12 items-center'>
            <div class="w-full grid grid-cols-1 col-start-4 col-span-6" style="margin-top: -10px">
                <div class='flex items-center'>
                    <a href="{% url 'add_branch' %}" class="ml-4">
                        <img src="../media/plus-img.png" class="img-add" alt="добавить филиал">
                        <span class="add-branch">Добавить филиал</span>
                    </a>
                </div>
            </div>
        </div>

        {% for branch in branches %}
            <div class='w-full grid grid-cols-1 md:grid-cols-12 items-center'>
                <div class="w-full grid grid-cols-1 col-start-4 col-span-6">

                    <div class="branch pt-6 pl-6 pr-6 grid md:grid-cols-12 items-center" style="padding-bottom: -30px">
                        <div class="col-start-1 col-end-13 items-center md:grid-cols-1 pl-7">
                            <div class="round mr-4" style="float: right">
                                <a href="/editBranch/{{ branch.id }}">
                                    <img src="../media/edit.png" class="img-edit" alt="редактировать филиал">
                                </a>
                            </div>
                            <h2 class="staff_name mb-1">{{ branch.branch_name }} | {{ branch.organization }}</h2>
                            <p class="mb-1">{{ branch.address }}</p>
                            <h5 class="staff-text">Сотрудники</h5>
                            <a href="{% url 'add_staff' branch.id %}" style="margin-bottom: 100px">
                                <div class="data col-start-4 col-span-2 md:grid-cols-1 ml-1 mt-10"
                                     style="margin-top: 10px">
                                    <img src="../media/plus-light.png" class="img-add" alt="добавить сотрудника">
                                </div>
                                <span class="add-staff">Добавить сотрудника</span>
                            </a>
                        </div>

                        {% for staff in branch_staff %}
                            {% if staff.id_branch.id == branch.id %}
                                <div class="staff col-start-2 col-end-13 mb-5 p-6">
                                    <a href="/editStaff/{{ staff.id }}">
                                        <img src="../media/edit.png" class="edit-staff" alt="редактировать сотрудника">
                                    </a>
                                    <div class="block_photo_staff" style="width: max-content; float: left;">
                                        {% if staff.avatar %}
                                            <img class="photo_staff h-28 w-28 object-cover object-center rounded-full" src="../media/{{ staff.avatar }}" alt="photo_staff">
                                        {% else %}
                                            <img class="photo_staff h-28 w-28 object-cover object-center rounded-full" src="../media/default-avatar.png" alt="photo_staff">
                                        {% endif %}
                                    </div>
                                    <div class="text-staff">
                                        <h2 class="staff_name mb-1">{{ staff.last_name }} {{ staff.first_name }}</h2>
                                        <p class="mb-1">Номер карты: {{ staff.card_number }}</p>
                                        <p class="mb-1">Логин: {{ staff.user }}</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>

                </div>
            </div>
            <br>
        {% endfor %}
    {% endif %}
{% endblock %}