{% extends 'base.html' %}

{% block title %}
    Личный кабинет сотрудника
{% endblock %}
{% block content %}
    {% if request.user.is_authenticated %}

        {{ staff.first_name }}
        {{ staff.last_name }}
        {{ staff.id_branch }}
        {{ staff.card_number }}
        <img src="../media/{{ staff.avatar }}" alt="фотография сотрудника" style="max-width: 100%;">
        {% for t in tips %}
            <div>
            {{ t.sum_tea }}
            {{ t.data }}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}