{% extends 'base.html' %}

{% block title %}
    Добавление сотрудника
{% endblock %}
{% block content %}
        {% if request.user.is_authenticated %}
        <div class='w-full grid grid-cols-1 md:grid-cols-12 mt-16'>
            <div class="w-full grid grid-cols-1 col-start-2 col-span-1">
              <button type="submit" class="group relative flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2">
                Назад
              </button>
            </div>
          </div>
          <div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
              <div class="max-w-md w-full space-y-8">
                <div>
                  <img class="mx-auto h-20 w-auto" src="../media/logo-main.png" alt="Workflow">
                  <h1 class="mt-6 text-center text-3xl font-extrabold">
                    Добавление сотрудника
                  </h1>
                </div>
                <form class="mt-8 space-y-6" action="#" method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% if form.non_field_errors %}
                      <div class="alert alert-dismissible alert-danger">{{ form.non_field_errors }}</div>
                  {% endif %}
                      <div class="rounded-md shadow-sm -space-y-px reg">
                          <div>
                              <label for="first_name" class="sr-only">Имя</label>
                              <input id="first_name" name="first_name" type="text"required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Имя и отчество">
                          </div>
                          <div>
                              <label for="last_name" class="sr-only">Фамилия</label>
                              <input id="last_name" name="last_name" type="text"required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Фамилия">
                          </div>
                          <div>
                            <label for="username" class="sr-only">Логин</label>
                            <input id="login" name="username" type="login" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Логин">
                          </div>
                          <div>
                            <label for="card_number" class="sr-only">Номер карты</label>
                            <input id="card_number" name="card_number" type="number" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Номер банковской карты">
                          </div>
                          <div>
                              <label for="password" class="sr-only">Пароль</label>
                              <input id="password" name="password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none  focus:z-10 sm:text-sm" placeholder="Пароль">
                          </div>
                          <div>
                              <label for="confirm_password" class="sr-only">Подтверждение пароля</label>
                              <input id="confirm_password" name="confirm_password" type="password" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:z-10 sm:text-sm" placeholder="Пароль ещё раз">
                          </div>
                          <div>
                            <label for="photo" class="sr-only">Фотография</label>
                            <input type="file" placeholder="Фотография сотрудника" name="photo" required class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm">
                          </div>
                      <div class="mb-3">{{ f.errors}}</div>
                  </div>
                  <div>
                    <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-offset-2">
                      <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                        <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                          <path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd" />
                        </svg>
                      </span>
                      Добавить
                    </button>
                  </div>
                </form>
              </div>
            </div>

{% endif %}

{% endblock %}